*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 50px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 0 100px;
    height: 100vh;
}
h1{

    font-family: sans-serif;
    margin-bottom: 40px;
}

.etiquetas{
   margin: 30px 0;
   
}
input{
    display: block;
    border: none;
    border-bottom: 2px solid black ;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
}
textarea{
    display: block;
    width: 400px;
    height: 250px;
}

.btn{
    margin-top: 10px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #48e;
    padding: 10px;
    color: white
}

iframe{
    position: absolute;
    top: 80px;
    left: 600px;
    height: 450px;
}