* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 200vh;
  position: relative;
 
}
/*Menu de navegacion*/

.menu_navegacion {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #2b2b2b;
}
span {
  color: red;
}

.menu_navegacion div {
  margin-left: 170px;
  position: absolute;
  top: 20%;
}
.iconos {
  position: relative;
  top: 5px;
  right: 2px;
  color: white;
  width: 20px;
}
h2 {
  display: inline;
  font-size: 19px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}

ul {
  position: absolute;
  left: 45%;
  top: 10%;
  margin: 1px 140px;
}
li {
  padding: 5px;
  text-decoration: none;
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}

/*pagina con grid*/

.main {
  display: grid;
  height: 150vh;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 296px);
  justify-content: center;
  margin-top: 20px;
  gap: 25px;
  position: relative;
 
}

img {
  width: 100%;
  border-radius: 10px;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: linear;
  cursor: pointer;
}
img:hover{
   transform: scale(1.1);
}
/*
  Pie de la pagina
*/

.footer {
  position: relative;
  height: 200px;
  top: 50vh;
  width: 100%;
  background-color: #2b2b2b;
}
.contendorFooter{
    position: absolute;
    display: inline-block;
    width:100% ;
}

.listaFooter1{
    position: absolute;
    left: 30%;
    display: inline-block;
    color: white;
    margin-top: 20px;
}
.listaFooter2{
    position: absolute;
    left: 27%;
    display: inline-block;
    color: white;
    margin-top:85px;
}
.iconosNav{
    width: 50px;
    padding: 10px;
    cursor: pointer;
    transition-property: border-radius, background-color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.iconosNav:hover{
   background-color: white;
   border-radius: 20px;
}

.finalfooter{
    position: absolute;
    top:190px;
    width: 100%;
    height: 20px;
    color: white;
    background-color: black;
    text-align: center;
}
