*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

main{
  height:100vh;
}

.pie-de-pagina{
  background:#1f2933;
  color:white;
  padding:50px 80px;
}

.contenedor-pie-pagina{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:40px;
}

.seccion-pie-pagina{
  display:flex;
  flex-direction:column;
}

.seccion-pie-pagina h3{
  margin-bottom:15px;
}

.menu-navegacion-pie{
  display:flex;
  flex-direction:column;
}

.menu-navegacion-pie a{
  text-decoration:none;
  color:#cbd5e1;
  margin:5px 0;
  font-size:14px;
}

.menu-navegacion-pie a:hover{
  color:white;
}

.boletin{
  max-width:300px;
}

.boletin p{
  font-size:14px;
  margin:10px 0 15px;
  color:#cbd5e1;
}

.formulario-boletin{
  display:flex;
}

.formulario-boletin input{
  padding:10px;
  width:300px;
  flex:1;
  border-radius:5px;
  background-color:#1f2933;
  color:white;
}

.formulario-boletin button{
  background:#0d6efd;
  color:white;
  border:none;
  padding:10px 18px;
  cursor:pointer;
  transition:0.3s;
  margin-left:5px;
  border-radius:5px;
}

.formulario-boletin button:hover{
  background:#0b5ed7;
}

hr{
  margin:40px 0;
  border:0;
  border-top:1px solid #374151;
}

.parte-inferior-pie{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.iconos-redes-sociales a{
  margin-left:15px;
  text-decoration:none;
  font-size:18px;
}

.iconos-redes-sociales a:hover{
  color:#0d6efd;
}

img{
  width:24px;
  transition:border-radius .3s;
}